body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 24px;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.block {
    min-width: 25%;
    min-height: 50%;
    margin: -1px;
    border: 1px solid black;
    background-color: #C0C0C0;
    transition: .3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.block:hover {
    background-color: lightgray;
}

.block1:hover {
    cursor: auto;
}

.block2:hover {
    cursor: not-allowed;
}

.block3:hover{
    cursor: url(../cursors/cursor2.png), auto;
}

.block4:hover {
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9729/Untitled.png), auto;
}