.button {
    background-color: darkorange;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 2% 5%;
    transition: .5s;
    text-align: center;
}

.button:hover {
    background-color: orange;
}

.button_browserCursors {
    position: fixed;
    bottom: 20px;
    right: 40px;
    padding: 10px 15px;
}

.button_hideCursor {
    cursor: none;
}